<ion-header>
  <ion-navbar color="dark" id="navbar">
    <ion-buttons>
      <button ion-button icon-only color="button-color" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-buttons end>    
      <button ion-button icon-only color="button-color">
        <ion-icon name="star" style="font-size: 20px"></ion-icon>
      </button>
      <button ion-button icon-only color="button-color" (click)='filterByCity()'>
        <ion-icon name="funnel" style="font-size: 20px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-item no-lines>
      <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 2px">
        <span style="font-size: 12px; padding-left: 10px; color: #303952; font-family: Pacifico"
          >Designers</span
        >
      </div>
      <ion-scroll scrollX="true" scroll-avatar>
        <div *ngFor="let designer of designers" class="avatar-container scroll-item">
          <div>
            <img
              [src]="designer.imageUrl"
              class="avatar"
            />
          </div>
          <div style="font-size: 12px; font-family: Rambia">{{designer.firstName}} {{designer.lastName}}</div>
        </div>

      </ion-scroll>
      <div style="border-top: 1px solid #bdc3c7; margin-top: 3px"></div>
    </ion-item>
  </ion-row>
  <ion-row>    
    <ion-item *ngFor="let feed of feeds"  no-lines class="content">
      <div>
        <ion-row>
          <ion-col>
            <img
              [src]="feed.designerImageUrl"
              class="avatar-card"
            />
            <span style="margin-left: 5px; margin-top: 12px;" class="name-text"
              >{{feed.designerFirstName }} {{feed.designerLastName }}</span
            >
          </ion-col>
          <ion-col style="display: inline;">
            <div style="float:right; margin-top: 10px;">
              <ion-icon
                name="md-heart-outline"
                style="padding-right: 5px; font-size: 25px;"
              ></ion-icon>
              <ion-icon
                name="md-star-outline"
                style="font-size: 30px;"
              ></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <div class="text-container">
          <div>
            <ion-slides pager="true" effect="flip">
              <ion-slide  *ngFor="let image of feed.images">
                <img
                  [src]="image.imageUrl"
                  class="card-img"
                  style="border: 1px solid #dcdde1; margin: auto 0"
                />
              </ion-slide>              
            </ion-slides>
          </div>
        </div>
      </div>
      <div class="text-container">
        <div><span class="heading-text">{{feed.designer | titlecase}}</span></div>
        <div><span class="subheading-text">{{ feed.message | titlecase }}</span></div>
        <div>
          <button
            style="font-size: 16px"
            ion-button
            icon-start
            large
            color="button-color"
            outline
          >
            See More
          </button>
        </div>
      </div>
      <div style="border-top: 1px solid #bdc3c7; margin-top: 3px"></div>
    </ion-item>    
  </ion-row>
</ion-content>
